<%= form_with(model: boardgame) do |form| %>
  <% if boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boardgame.errors.count, "error") %> prohibited this boardgame from being saved:</h2>

      <ul>
        <% boardgame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<div class="field">
    <%= form.label :gamebox %>
    <%= form.file_field :gamebox %>
  </div>

  <div class="field">
    <%= form.label :rulebook %>
    <%= form.file_field :rulebook %>
  </div>

  <div class="field">
    <%= form.label :components %>
    <%= form.file_field :components , multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
